<div class="mt-5 footer">
    <div class="container-fluid text-center text-md-left">
        <div class="row">
            <div class="col-md-6 mt-md-0 text-center">
                <h5 class="mt-3"><b>About Us</b></h5>
                <p class="mx-5">The website allows new and existing customers to look up information of different car
                    dealership
                    branches. Customers are able to create an account and add their review for any of the branches.</p>
            </div>

            <div class="col-md-6 mb-md-0 text-center">
                <h5 class="mt-3"><b>Links</b></h5>
                <ul class="list-unstyled">
                    <li><a href="https://github.com/JocelynCooper/Car-Dealership-Review-Platform">Source Code</a></li>
                    <li><a href="https://www.linkedin.com/in/ywz88/">Author LinkedIn</a></li>
                </ul>
            </div>
            <hr class="clearfix w-100 d-md-none pb-0" />
        </div>
    </div>

    <div class="footer-copyright text-center py-3">© 2022 Copyright:
        <span> All rights reserved </span>
    </div>

</div>